.comment
  %a.avatar
    = image_tag message.user.avatar.url :thumb
  .content
    %a.author= message.user_name
    .metadata
      %span.date= l(message.created_at, format: '%B, %d %Y %H:%M')
    .text
      = emojify message.body
