= provide :title, 'Edit profile'

// User aside info
.four.wide.column
  = render 'users/aside', user: @user

.twelve.wide.column

  // Cover photo and links
  = render 'users/cover_menu', user: @user

  // Profile edit form
  = render partial: 'form', locals: { user: @user, relationship_options: @relationship_options }
