%p
  Hi
  = @user.name
  !

%p
  Welcome to PeopleBook! We hope you'll have a blast and meet many new friends.
  You can check your profile if you click
  = link_to 'here.', user_url(@user)


%p
  Thanks for joining and have a great day!

%p
  Yours sincerely,
%p
  People of PeopleBook
