Hi <%= @user.name %>,

Welcome to the PeopleBook! We hope you'll have a blast and meet many new friends.

You can check your profile if you click here:

<%= user_url(@user) %>

Thanks for joining and have a great day!

Yours sincerely,

People of PeopleBook
