= render 'menu'

- if !@resources.blank?
  .row
    .sixteen.wide.column
      .ui.four.stackable.cards
        - @resources.each do |resource|
          = link_to image_path(resource), class: 'ui card' do
            .ui.rounded.fluid.image
              = image_tag resource.image.url(:mini)
  .row
    = paginate @resources

- else
  .ui.blue.message
    %h3.header No images
