= render 'menu'

.row
  .sixteen.wide.column
    - if !@resources.nil? && !@resources.empty?
      .ui.four.stackable.cards
        - @resources.each do |resource|
          = link_to image_path(resource), class: 'ui card' do
            .ui.rounded.fluid.image
              = image_tag resource.image.url(:mini)
    - else
      .ui.blue.message
        %h3.header No images

.row
  - if !@resources.nil? && !@resources.empty?
    = paginate @resources
