= render 'menu'

- if !@resources.blank?
  .row
    .sixteen.wide.column
      .ui.four.stackable.cards
        - @resources.each do |resource|
          = render resource
  .row
    = paginate @resources

- else
  .ui.blue.message
    %h4.header No users
