= render 'menu'

.row
  .sixteen.wide.column
    - if !@resources.nil? && !@resources.empty?
      .ui.four.stackable.cards
        - @resources.each do |resource|
          = render resource
    - else
      .ui.blue.message
        %h4.header No users

.row
  - if !@resources.nil? && !@resources.empty?
    = paginate @resources
