.row
  = render 'conversations/menu'

  .eleven.wide.column
    .ui.center.aligned.top.attached.segment
      = link_to @conversation.other_user(current_user).name,
        user_path(@conversation.other_user(current_user)),
        class: 'ui header'
    .ui.attached.segment.messages
      .ui.large.comments{ 'data-channel': 'messages', 'data-conversation-id': @conversation.slug }
        = render @conversation.messages
    .ui.bottom.attached.segment
      = render 'messages/form'
