.item
  %a.content{ href: user_path(notification.notifiable.user.id) }

    .ui.avatar.image
      = image_tag notification.actor.profile.avatar.url :thumb
    %span.ui.small.header= notification.actor.name
    %span.description
      = notification.action
      your friend request
    %span.meta
      = time_ago_in_words notification.created_at
      ago
    - if notification.read_at.nil?
      %span.ui.red.empty.circular.label
