= link_to [likeable, Like.new, user_id: current_user.id, format: :js],
  method: :post,
  remote: true,
  class: 'comment__like',
  data: { 'behavior': 'like-action', 'tooltip': 'Like', 'inverted': '' } do
  %i.like.icon
