- if likeable.likes_count.to_i > 0
  .ui.divided.items
    - likeable.users_who_like_it.limit(5).each do |user|
      .item
        .content
          .ui.avatar.image
            = image_tag user.profile.avatar.url :thumb
          %span.description= user.name

    - if likeable.likes_count.to_i > 5
      .item
        %span.description
          +
          = pluralize (likeable.likes_count - 5), 'other'
