= link_to like_path(likeable.likes.find_by_user_id(current_user.id), format: :js),
  method: :delete,
  remote: true,
  class: 'comment__like',
  data: { 'behavior': 'like-action' } do
  %i.red.like.icon
