// Avatar image
.ui.card
  .image
    = image_tag user.profile.avatar.url :normal, alt: user.name

// About
= render 'users/about', user: user

// Quick friends
.ui.card
  .content
    .ui.three.column.grid
      .three.column.row
        .column
          .ui.header Friends
      = render partial: 'users/user_thumb', collection: @friends, as: :user
