-#
  .ui.fluid.vertical.menu
    /* User posts link
    %a{ href: user_path(user), class: class_string('item', 'active teal' => current_page?(user_path(user))) }
      Posts
      %i{ class: class_string('ui newspaper icon', 'teal' => current_page?(user_path(user))) }

    /* User friends link
    %a{ href: user_friends_path(user), class: class_string('item', 'active teal' => current_page?(user_friends_path(user))) }
      Friends
      %i{ class: class_string('ui users icon', 'teal' => current_page?(user_friends_path(user))) }

    - if current_user == user

      /* User edit account link
      %a{ href: edit_user_registration_path(user), class: class_string('item', 'active teal' => current_page?(edit_user_registration_path(user))) }
        Edit account
        %i{ class: class_string('ui write icon', 'teal' => current_page?(edit_user_registration_path(user))) }

      /* User edit profile link
      %a{ href: edit_user_profile_path(user), class: class_string('item', 'active teal' => current_page?(edit_user_profile_path(user))) }
        Edit profile
        %i{ class: class_string('ui edit icon', 'teal' => current_page?(edit_user_profile_path(user))) }
