- if resource.errors.any?
  .ui.error.message#error_explanation{ 'style': 'display: block;'}
    The form contains #{pluralize(resource.errors.count, "error")}.
    %ul.list
      - resource.errors.full_messages.each do |msg|
        %li= msg
