- if object.errors.any?
  .ui.error.message#error_explanation{ 'style': 'display: block;'}
    The form contains #{pluralize(object.errors.count, "error")}.
    %ul.list
      - object.errors.full_messages.each do |msg|
        %li= msg
