.row

  /* Activity
  .six.wide.column

  /* Main content
  .ten.wide.column
    .ui.centered.grid

      /* New status update form
      .row
        .column
          = render 'status_updates/form', status_update: @new_status_update

      /* Feed
      .row
        .column
          .ui.large.feed
            = render @feed
      = paginate @feed
