.row

  /* Activity
  .six.wide.column

  /* Main content
  .ten.wide.column

    /* New status update form
    .ui.clearing.segment
      .content
        = render 'status_updates/form', status_update: @new_status_update

    /* Feed
    .ui.large.feed
