= provide :title, 'Welcome to PeopleBook'

.ui.stackable.middle.aligned.centered.vertically-aligned.grid.hero-container
  .eleven.wide.column
    %h2.ui.huge.inverted.header
      %span Welcome to |
      %span.ui.huge.blue.inverted.header PeopleBook
    %h3.ui.tiny.blue.inverted.header
      %span.ui.tiny.inverted.header Place to
      connect with
      %span.ui.tiny.inverted.header all your
      people
  .five.wide.column
    = render template: 'devise/registrations/new'

  = render 'shared/navbar/footer'
