= form_with url: friendships_path(id: user.id) do |form|

  = hidden_field_tag 'friendship[friend_id]', user.id

  = button_tag type: :submit, class: 'ui blue small button' do
    %i.add.user.icon
    %span Add friend
