= form_with model: [current_user, current_user.sent_friend_requests.build],
  class: 'friendship_button' do |form|

  = hidden_field_tag 'friendship[friend_id]', user.id

  = button_tag type: :submit, class: 'ui teal small button' do
    %i.add.user.icon
    %span Add friend
