= link_to user_friendship_path(current_user, friendship),
  method: :delete,
  class: 'friendship_button',
  data: { confirm: "Do you really want to remove #{user.name} from your friends?"} do
  %span.unfriend
    %i.checkmark.icon
    %span Friends
