= form_with model: [current_user, find_friendship(user)],
  class: 'friendship_button', method: :delete do |form|
  = button_tag type: :submit, class: 'ui small blue unfriend button' do
    %i.checkmark.icon
    %span Friends
