- message = (notification.notifiable.author == current_user ? 'your status update' : "#{notification.notifiable.author.name}'s status update")

.item
  = link_to send("#{notification.notifiable_type.underscore.downcase}_path", notification.notifiable),
    class: 'content' do

    = render partial: 'notifications/shared/notification_body',
      locals: { notification: notification,
      message: message }
