.item
  = link_to status_update_path(notification.notifiable),
    class: 'content' do

    = render partial: 'notifications/shared/notification_body',
      locals: { notification: notification,
      message: 'a status update' }
