= provide(:title, 'Log in')

.ui.padded.middle.aligned.centered.grid
  .fixed-width.column
    .ui.blue.secondary.raised.segment
      %h2.ui.center.aligned.header= yield :title
      = form_for(resource, as: resource_name, url: session_path(resource_name),
                 html: { class: 'ui form'},
                 local: true) do |f|
        = render 'shared/errors', resource: resource

        .required.field
          = f.label :email
          .ui.left.icon.input
            = f.email_field :email, placeholder: 'Your email address'
            %i.at.icon

        .required.field
          = f.label :password
          .ui.left.icon.input
            = f.password_field :password, autocomplete: 'off', placeholder: 'Your password'
            %i.lock.icon

        .fields.justify-between
          - if devise_mapping.rememberable?
            .inline.field
              = f.check_box :remember_me
              = f.label :remember_me
          .field
            = link_to 'Forgot your password?', new_user_password_path

        .actions
          = f.submit 'Log in', class: 'ui fluid blue button'

      .ui.horizontal.divider
        OR
      %p.center-text
        %i.facebook.square.icon
        = link_to "Log in with Facebook", user_facebook_omniauth_authorize_path

    .ui.blue.secondary.raised.segment
      %p.center-text Don't have an account? #{link_to 'Sign up', new_user_registration_path}
