.item
  = link_to send("#{notification.notifiable.commentable_type.underscore.downcase}_path", notification.notifiable.commentable),
    class: 'content' do

    = render partial: 'notifications/shared/notification_body',
      locals: { notification: notification,
      message: 'a comment' }
