.ui.transparent.inverted.vertical.footer.segment
  %p.item
    Made with
    = image_tag 'brain-icon-png', class: 'ui mini brain spaced image'
    by
    %a{ href: 'https://github.com/chanjman', target: '_blank' }
      Mario Zugaj
