.ui.floating.top.right.pointing.scrolling.dropdown.item#notifications{ 'data-behavior': 'notifications',
  'data-link': 'notifications-link' }

  /* Notifications bell icon and label
  .right.pointing.ui.label{ 'data-behavior': 'unread-count' } 0
  %i.bell.icon

  /* Notifications dropdown
  .menu
    // Notification items
    .items{ 'data-behavior': 'notification-items' }
