.ui.floating.pointing.top.right.dropdown.item#requests

  // Notifications bell icon and label
  %div{ class: class_string('right pointing ui label',
    'red' => @requested_friends.exists?) }= @requested_friends.size
  %i.users.icon

  // Notifications dropdown
  .menu
    - if @requested_friends.any?
      - @requested_friends.each do |requested_friend|
        .item
          .request.content
            .description
              .ui.avatar.image
                = image_tag requested_friend.avatar.url :thumb
              %span.ui.small.header
                = link_to requested_friend.name, user_path(requested_friend)
              %span.text requested to be your friend
            %span.request.buttons
              // Approve button
              = link_to 'Approve',
                user_friendship_path(current_user, find_friendship(requested_friend)),
                method: 'patch',
                class: 'ui mini positive request button'
              // Decline button
              = link_to 'Decline',
                user_friendship_path(current_user, find_friendship(requested_friend)),
                method: 'delete',
                class: 'ui mini negative request button'
    - else
      .item
        %span No new friend requests. Make some new friends?
