= form_with url: search_users_path,
  class: 'ui category search item',
  method: :get,
  local: true do

  .ui.link.icon.input
    %input.prompt{ name: 'q', placeholder: 'Search people, updates...'}
      %i.ui.search.icon
  .results
