/*------- Columns ---------*/
.fixed-width
  width: 380px !important

.justify-between
  justify-content: space-between !important

/*-------- Status update -----*/
.status_update__text
  white-space: pre-line

.whitespace--left::before
  content: ''
  margin-left: 1.5rem !important

/*-------- Flash -------------*/

#flash
  position: fixed
  text-align: center
  width: 70%
  z-index: 3

/*------- Dropdown items -----*/

.request.content
  display: flex
  justify-content: space-between

.request.buttons::before
  content: ''
  margin-left: 2rem

/*--------- Images -----------*/

.thumb.container
  overflow-x: auto !important
  white-space: nowrap !important

.image_show_card .comments.content
  overflow-y: scroll
  flex: 1 !important
  max-height: 100%

.image_show_card .content
  flex: 0 !important

/*--------- Search -----------*/

.results.transition.visible.index
  z-index: 0

/*--------- Comment -----------*/

.comments.content, .comment__form
  display: none

.ui.comments
  width: 100%

.comment__like
  margin-right: 0 !important


/*--------- Footer -----------*/

.stripe
  padding: 3em !important

.ui.stackable.middle.aligned.centered.vertically-aligned.grid.hero-container
  min-height: calc(100vh - 70px)

.footer.segment
  height: 50px

.footer.segment a
  color: white !important
  text-decoration: underline

.brain
  width: 25px !important
  height: 25px !important

/*--------- Text -----------*/

.break-word
  word-break: break-word

/*--------- Activity -----------*/
.activity.feed
  max-height: 405px
  overflow-y: scroll
