.item
  = link_to user_path(notification.actor),
    class: 'content' do

    = render partial: 'notifications/shared/notification_body',
      locals: { notification: notification,
      message: 'profile info' }
