.item
  = link_to user_photo_album_path(notification.actor, notification.notifiable),
    class: 'content' do

    = render partial: 'notifications/shared/notification_body',
      locals: { notification: notification,
      message: 'new image(s)' }
